<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DWO_ue2.Properties.Settings.FH_DWOConnectionString"
            connectionString="Data Source=saturn\sqlexpress;Initial Catalog=FH_DWO;User ID=sa;Password=amndi_dcda"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>